<button (click)="toggleShow()">Toggle content</button>

<!-- @if (isVisible()) {
<div class="animation" animate.enter="fade-in" animate.leave="fade-out">
  <p>This div fades In and Out ✌️.</p>
</div>
} -->

<!-- @if (isVisible()) {
<div
  class="ball"
  [animate.enter]="['slide-in']"
  animate.leave="bounce-out"
></div>
} -->

<!-- <div class="box" [class.closed]="!isOpen()"></div> -->

@if (show()) {
<ul class="items">
  @for (item of items; track item) {
  <li class="item" style="--index : {{ item }}">{{ item }}</li>
  }
</ul>
}
